* {
  margin: 0;
  box-sizing: border-box;
}

.bg {
  width: 100vw;
  height: 100vh;
  opacity: 0.95;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    ),
    url(../../../public/assets/background-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% top;
}

.heading {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  width: 450px;
}

.container {
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 20%;
  align-items: flex-start;
  position: absolute;
}

.logo {
  height: 70px;
  margin-bottom: 20px;
}

.start-btn {
  background-color: #d81656;
  border: none;
  color: #fff;
  opacity: 0.8;
  padding: 15px;
  margin-top: 25px;
  width: 250px;
  border-radius: 25px;
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -30px;
  transition: 0.5s;
}

.start-btn:hover span {
  padding-right: 25px;
}

.start-btn:hover span:after {
  opacity: 1;
  right: 11px;
}

.start-btn:hover {
  opacity: 1;
}

.BIUD {
  color: #d81656;
}

@media screen and (max-width: 750px) {
  .heading {
    font-size: 1.9rem;
    width: 240px;
  }

  .start-btn {
    background-color: #d81656;
    border: none;
    color: #fff;
    padding: 15px;
    margin-top: 25px;
    width: 175px;
    border-radius: 25px;
    opacity: 1;
  }
}

@media screen and (max-width: 340px) {
  .heading {
    font-size: 1.4rem;
    width: 160px;
  }

  .start-btn {
    width: 150px;
  }
}

@media screen and (max-height: 650px) and (min-width: 700px) {
  .container {
    top: 12%;
  }
}
